<h1>What's Happening in Oakland?</h1>

<form action="events/new" method="post"></br>
  Name: <input type="text" name="event[name]"></br>
  When is it? <input type="text" name="event[date]"></br>
  Where is it? <input type="text" name="event[location]" ></br>
  How much is it? <input type="text" name="event[cost]" ></br>
  Tell us more about it! <textarea name="event[description]" ></textarea></br>
  <input type="submit" name="submit" value="Post It!"></br>
</form>
