<h1>Check out your event</h1>

<h3><%=@event.name%></h3></br>
<%=@event.date %></br>
<%=@event.location %></br>
<%=@event.description %></br>



<a href="/events/edit_event">Does the event need an edit?</a>
